body
{
	background-color:#f4f4f4;
	margin-top:0;
	margin-left:0;
	margin-right:0;
	background-image:url('images/background.png');
	background-repeat:no-repeat;
	background-color:black;
	font-family:'Open Sans';
}
input[type=text],input[type=password]
{
	background-color:#0d0f0e;
	border: 2px solid #2e1a1e;
	color:white;
	padding:3px;
	font-size:14px;
}
input[type=text]:focus,input[type=password]:focus
{
	border: 2px solid white;
}

a
{
	color:#a69a75;
	font-weight:bold;
}
a:visited
{
	color:#a69a75;
	font-weight:bold;
}
#header
{
	width:100%;
	height:53px;
	background-image:url('images/menu3.png');
	background-repeat:repeat-x;
}

.button
{
	display:block;
	background-image:url('images/button.png');
	background-size: 150px 60px;
	background-repeat:no-repeat;
	width:150px;
	text-align:center;
	height:60px;
	font-family:arial;
	font-weight:bold;
	font-size:16px;
	cursor:pointer;
	float:left;
	z-index:2;
	line-height:60px;
	color:#a69a75;
}
.button a
{
	padding-top:15px;
	padding-bottom:15px;
	color:#a69a75;
}
.button a:visited
{
	color:#a69a75;
}

.button:hover
{
	background-image:url('images/button3.png');
	color:white;
}
.smallButton
{
	display:block;
	background-image:url('images/button4.png');
	background-repeat:no-repeat;
	width:105px;
	text-align:center;
	height:30px;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	float:left;
	z-index:2;
	line-height:30px;
	color:#a69a75;
}
.smallButton a
{
	margin-top:10px;
	color:#a69a75;
}
.smallButton a:visited
{
	color:#a69a75;
}

.smallButton:hover
{
	background-image:url('images/button5.png');
	color:white;
}

#menu
{
	width: 100%;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;

}

#buttonHolder
{
}

#centeredmenu {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   text-decoration:none;
   line-height:1.9em;

}
#loginBox
{
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
   margin-top:-30px;
}
#loginBox 
{
}
#loginBox li
{
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:58%;
   height:30px;

}
#loginBox li input
{
	margin-top:2px;
}
#loginBox a
{
	display:block;
	line-height:30px;
}

.contentBoxHeaderLeft
{
	width:33px;
	height:33px;
	background-image:url('images/boite-coingauche.png');
	background-repeat:no-repeat;
}
.contentBoxHeaderMiddle
{
	height:33px;
	background-image:url('images/boite-millieu.png');
	background-repeat:repeat-x;
}
.contentBoxHeaderRight
{
	width:33px;
	height:33px;
	background-image:url('images/boite-coindroite.png');
	background-repeat:no-repeat;
}
.contentBoxHeader table
{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.contentBoxHeader td
{
	padding-left:0px;
	padding-right:0px;
}

.contentBoxFooterLeft
{
	width:33px;
	height:33px;
	background-image:url('images/boite-coinbasgauche.png');
	background-repeat:no-repeat;
}
.contentBoxFooterMiddle
{
	height:33px;
	background-image:url('images/boite-millieubas.png');
	background-repeat:repeat-x;
}
.contentBoxFooterRight
{
	width:33px;
	height:33px;
	background-image:url('images/boite-coinbasdroit.png');
	background-repeat:no-repeat;
}
.contentBoxFooter table
{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.contentBoxFooter td
{
	padding-left:0px;
	padding-right:0px;
}
.contentBoxLeft
{
	width:33px;
	background-image:url('images/boite-millieugauche.png');
	background-repeat:repeat-y;
}
.contentBoxMiddle
{
	background-image:url('images/background-motif.png');;
}
.contentBoxRight
{
	width:33px;
	background-image:url('images/boite-millieudroit.png');
	background-repeat:repeat-y;
}

.mainContentBoxHeaderLeft
{
	width:14px;
	height:14px;
	background-image:url('images/content-coingauche.png');
	background-repeat:no-repeat;
}
.mainContentBoxHeaderMiddle
{
	height:14px;
	background-image:url('images/content-millieu.png');
	background-repeat:repeat-x;
}
.mainContentBoxHeaderRight
{
	width:14px;
	height:14px;
	background-image:url('images/content-coindroite.png');
	background-repeat:no-repeat;
}
.mainContentBoxFooter table
{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.mainContentBoxFooterLeft
{
	width:14px;
	height:14px;
	background-image:url('images/content-coinbasgauche.png');
	background-repeat:no-repeat;
}
.mainContentBoxMiddle
{
	background-image:url('images/background-motif.png');;
}
.mainContentBoxHeader td
{
	padding-left:0px;
	padding-right:0px;
}
.mainContentBoxFooterLeft
{
	width:14px;
	height:14px;
	background-image:url('images/content-coinbasgauche.png');
	background-repeat:no-repeat;
}
.mainContentBoxFooterMiddle
{
	height:14px;
	background-image:url('images/content-millieubas.png');
	background-repeat:repeat-x;
}
.mainContentBoxFooterRight
{
	width:14px;
	height:14px;
	background-image:url('images/content-coinbasdroite.png');
	background-repeat:no-repeat;
}
.mainContentBoxHeader table
{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.mainContentBoxFooter td
{
	padding-left:0px;
	padding-right:0px;
}
.mainContentBoxLeft
{
	width:14px;
	background-image:url('images/content-millieugauche.png');
	background-repeat:repeat-y;
}
.mainContentBoxRight
{
	width:14px;
	background-image:url('images/content-millieudroite.png');
	background-repeat:repeat-y;
}
.shadow
{
	 box-shadow:1.5px 1.5px 1.5px 1.5px black;
	 -webkit-box-shadow:1.5px 1.5px 1.5px 1.5px black;
	 -moz-box-shadow:1.5px 1.5px 1.5px 1.5px black;
}
