#content
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	/*margin-top:100px;*/
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	color:white;
	background-color:#212326;
	margin-top:50px;
}

#content h3
{
	color:white;
}

#content p
{
	color:dark-grey;
}

#matchList li
{
	margin-top:20px;
}
